* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header-wrapper {
	max-width: 1250px;
  margin: 0 auto;
	height: 115px;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
}
.header-wrapper h1 {
  width: 98px;
  padding-top: 10px;
  display: inline-block;
}

.header-wrapper-nav { /* ul: first child*/
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: inline-block;
  line-height: 114px;
  position: absolute;
  float: left;
}
.header-wrapper-nav li {
  padding-right: 52px;
  display: inline-block;
}
.header-wrapper-nav a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}
.header-wrapper-user {
  margin:0;
  padding:0;
  width: 511px;
  text-align: center;
  list-style: none;
  display: inline-block;
  line-height: 111px;
  float: right;
}
.header-wrapper-user li {
	display: inline-block;
  padding-right:10px;
  width: 150px;
}

.header-wrapper-user a {
	text-decoration: none;
	color: black;
	font-size: 12px;
}
.header-wrapper-user li:nth-child(1) {
	background: #fff url(../images/login_icon.jpg) -12% 48% no-repeat;
}
.header-wrapper-user li:nth-child(2) {
	background: #fff url(../images/shop_icon.jpg) -12% 48% no-repeat;
}
.header-wrapper-user-logout a:nth-child(2){
	color: #f8a97f;
}
.header-wrapper-user-cat li:nth-child(3) {
	margin: 0;
	padding: 0;
}
.header-wrapper-shop {
  padding-top: 16px;
  height: 100px;
  position: absolute;
}
.search {
  position: relative;
}
.search__field {
   padding: 3px 9px 4px;
   border: 2px solid #e5e5e5;
   border-radius: 2px;
   font-size: 10px;
   top: -2px;
   right: -12px;
   width: 176px;
   height: 36px;
}
.search__button {
  background: #fff url(../images/search_icon.png) 50% 50% no-repeat;
  border: 0;
  font-size: 0;
  height: 36px;
  width: 34px;
  position: absolute;
  right: -35px;
  top: 41px;
}