* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* How to give the whole page the same margin */

.header-wrapper {
	width: 100%;
	height: 115px;
	/*max-width: 1258%;
	height: 115px;
	border-bottom: 1px solid #e5e5e5;
	margin:0 auto;*/
}

.header-wrapper h1 {
	width: 98px;
	padding-top: 10px;
	display: inline-block;
}

.header-wrapper-nav{ /* ul: first child*/
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: inline-block;
  line-height: 114px;
  position: absolute;
}

.header-wrapper-nav a {
	text-decoration: none;
	color: black;
	font-size: 12px;
}

.header-wrapper-nav li {
	padding-right: 52px;
	display: inline-block;
}

.header-wrapper-user {
  width: 367px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  float: right;
  line-height: 114px;
}

.header-wrapper-user li {
	display: inline-block;
	width: 100px;
}

.header-wrapper-user a {
	text-decoration: none;
	color: black;
	font-size: 12px;
}

.header-wrapper-login {
	padding-top: 6px;
	height: 100px;
	position: absolute;
}

.header-wrapper-shop {
	padding-top: 16px;
	height: 100px;
	position: absolute;
}
 .header-wrapper-user li:nth-child(2) a {
 	padding-left: 38px;
}
/* not the same height as the left part*/
 .header-wrapper-search{
 	position: relative;
 	top: 28px; /* it took large positive number of pixels*/
}
 hr {
  width: 1276px;
  height:0px;
  background: #fff;
  margin: 0 0 0 13px;
}
header > h1 {
	text-transform: uppercase;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
.page-title {
	text-align:center;
	height: 539px;
	padding-top: 150px;
}

.page-title h1 {
	font-size: 70px;

}

.page-title h3 {
	font-size: 20px;
	font-weight: 500;
}

.page-title p{

	border: 1px solid black;
	display: inline-block;
	text-align: center;
	line-height: 50px;
	width: 232px;
	text-transform: uppercase;
}
.container {
  width: 96%;
  margin-left: 10px;
  padding: 0;
  list-style: none;
  text-align: center;
}
.container ul {
  list-style: none;
  text-align: center;
}
.container li {
  width: 25%;
  float: left;
}

.container a {
  height: 200px;
  display: block;
  color: #fff;
  text-decoration: none;
  line-height: 200px;
}

.container li:nth-child(1) a {
	background: #d2d2d2;
	height: 400px;
	line-height: 400px;


}
.container li:nth-child(2) a { 
	background: #bbbbbb; 
	
}
.container li:nth-child(3) a { 
	background: #dbdbdb;
	
}
.container li:nth-child(4) a { 
	background: #606060; 

}
.container li:nth-child(5) a { 
	background: #dbdbdb; 
	
}
.container li:nth-child(6) a { 
	background: #bbbbbb; 
}
.container li:nth-child(7) a { 
	background: #dbdbdb;
	height: 400px;
	line-height: 400px;
}
.container li:nth-child(8) a { 
	background: #bbbbbb;
	position: relative;
	bottom: 200px;  /* ?*/
}
.container li:nth-child(9) a { 
	background: #606060;
	position: relative;
	bottom: 200px;	
}
.container li:nth-child(10) a { 
	background: #d2d2d2;
	position: relative;
	bottom: 200px;	
}
.container__signup {
	text-align: center;
}
.container__signup-submit {
	padding-top: 20px;
}
.container__signup-submitbtn {
	background-color: #f68236;
    margin-left: -5px;
    width: 80px;
    height: 42px;
    border: 2px solid #e67429;
}
.container__signup-submitfield {
	line-height: normal;
    height: 42px;
    width: 348px;
}
.container-footer{
	width: 98%;
	padding-top: 50px;
}
.footer-navigator {
	list-style: none;
	width: 25%;
	border-right: 1px solid #eaeaea;
	float: left;
}
.footer-navigator a {
	text-decoration: none;
	color: #000;
}
/*.container span {
  color: #fff;
  background: #000;
  display: block;
  text-align: center;
  width: 100%;
  font-size: 17px;
  text-transform: uppercase;
  line-height: 34px;
  position: absolute;
  bottom: 16px;
  479
}
*/

